<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./static/style.css" rel="stylesheet" type="text/css" />
    <title>Forgotten password</title>
  </head>
  <body>
    <div class="center">
      <h1>Enter your e-mail adress</h1>
      <form action="/reset-password" method="post">
        <div class="text-field">
          <input type="text" name="email" id="email" required />
          <span></span>
          <label for="email">E-mail</label>
        </div>
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
