<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <title>User list</title>
  </head>
  <body>
    <div class="center">
      <h1>Evil League of Evil: Secret List</h1>
      <div class="evil-list">
        <ul>
          <li><span>&#9822;</span>Bad Horse</li>
          <li><span>&#9760;</span>Dead Bowie</li>
          <li><span>&#9760;</span>Fake Thomas Jefferson</li>
          <li><span>&#9760;</span>Fury Leika</li>
          <li><span>&#9760;</span>Professor Normal</li>
          <li><span>&#9760;</span>Snake Bite</li>
          <li><span>&#9760;</span>Tie-Die</li>
          <li><span>&#9760;</span>Doctor Horrible</li>
        </ul>
      </div>
      <div class="link">
        <a href=""> Logout </a>
      </div>
    </div>
  </body>
</html>
