<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <title>Sign in error</title>
  </head>
  <body>
    <div class="center">
      <h1>Authentification failed</h1>
      <form>
        <div class="link">Invalid email and / or password.</div>
        <div class="link">
          <a href="http://localhost:3000/"> &#10229; Back &#8213; </a>
        </div>
      </form>
    </div>
  </body>
</html>
